{% extends 'base.html' %}

{% block xclass %}listpage{% endblock xclass %}
{% block columntwo %}
<div id="homepadding">
    <div id="homecontentbox">
        <span class="homeheader">schleich database</span>
        <div id="font">
Here is a collection of information about my schleich models. I first started collecting these when I was about eight, but I had had a few before then. My collection has grown and grown and now I am past the one hundred mark. My friend Romy helped me with the creation of some of the names and stories that surround these animals. I hope you like it!
        </div>
    </div>
    <div id="picturebox"></div>
    <div id="hmlcont">
        <table id="homelist">
{% for a in animals|dictsort:"name" %}
			<tr class="{% cycle "row1" "row2" %}">
				<td>
<a class="{% if a.gender == "F" %}femhov{% else %}malhov{% endif %}" href="/catalogue/{{ a.slug }}">{{ a.name }}</a>
				</td>
			    <td>
<span style="color:{% if a.gender == "F" %}#f598d0{% else %}#80c3f6{% endif %};">{{ a.gender }}</span>
				</td>
				<td>{{ a.age }}</td>
    			<td>{{ a.species.subspecies_name }} {{ a.species.species_name }}</td>
				<td>{{ a.posture|truncatewords:5 }}</td>
 				<td>{{ a.special_markings|truncatewords:7 }}</td>
			</tr>
{% endfor %}
        </table>
    </div>   
</div>
{% endblock columntwo %}


